[submodule "apps/sandboxed-react-agent/backend/app/agents/toolkits/browser_tools_js/browser-tools"]
	path = apps/sandboxed-react-agent/backend/app/agents/toolkits/browser_tools_js/browser-tools
	url = https://github.com/badlogic/browser-tools
[submodule "apps/janet"]
	path = apps/janet
	url = git@github.com:mylonasc/janet.git
	branch = release
[submodule "apps/cluster-user-secrets-manager"]
	path = apps/cluster-user-secrets-manager
	url = git@github.com:mylonasc/cluster-user-secrets-broker.git
